.cover__link {
  position: relative;
  padding: 245px 312px 245px;
  text-decoration: none;
  display: block;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: 100% 100%;
  z-index: 1;
}

.cover__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    padding: 195px 232px 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    padding: 115px 104px 115px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    padding: 33px 16px;
  }
}