.place__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  max-width: 460px;
  margin: 0;
  align-self: end;
  justify-self: start;
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 640px) {
  .place__title {
    margin-right:  auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin-right:  16px;
    margin-left: 16px;
  }
}