.header__links {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  margin: 18px 0px 6px;
}

@media screen and (max-width: 320px) {
  .header__links {
    margin-top: 14px;
    margin-bottom: 8px;
  }
}