.cover__subtitle {
  font-family: 'Inter' , Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  max-width: 360px;
}


@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}