.header {
  max-width: 1148px;
  margin: 28px 48px 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 16px auto 48px;
  }
}