.place__paragraph {
  max-width: 484px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
}


.place__paragraph:first-child {
  margin-bottom: 26px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph:first-child {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-family: Inter;
    font-size: 16px;
    line-height: 26px;
    max-width: 352px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph:first-child {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
   max-width: 288px;
   margin: 0px 16px;
  }
}