.footer__copyright {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
}

@media screen and (max-width: 640px) {
  .footer__copyright {
    text-align: left;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
    text-align: left;
  }
}