.intro__text {
  font-family: Inter , Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px 0px 33px;
}

@media screen and (max-width: 320px) {
  .intro__text {
    margin: 0px 16px 34px 16px;
  }
}