.cover__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  max-width: 560px;
  margin: 0px 0px 32px;
}


@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    white-space: pre-line;
    margin-bottom: 16px;
  }
}